<%- include ('../partial/header') -%>


    <body>
        <div class="row">
            <div class="black">
            </div>
            <div class="container">
                <a href="/register">REGISTER DI SINI</a>
                <h1>Login</h1>
                <form class="form-group" action="/login" method="POST">
                    <input type="text" name="username" placeholder="username" required>
                    <input type="password" name="password" placeholder="password" required>
                    <input type="submit" value="Login">
                    
                </form>
                <h3><%= locals.error %> </h1>
            </div>
        </div>
    </body>

    </html>