<%- include ('partial/header') -%>

    <body>
        <div class="row">
            <div class="black"></div>

            <div class="container">
                <h1>CASHIER APP</h1>
                <h1>WELCOME <%= name.toUpperCase() %>!</h1>
                <div class="tampung">
                    <div class="tmp"><a href='/items'>Items</a></div>
                </div>
                <div class="tampung">
                    <div class="tmp"><a href='/transactions'>Transactions</a></div>
                </div>
                <div class="tampung">
                    <div class="tmp"><a href='/transactions/add'>Cashier</a></div>
                </div>
                <div class="tampung">
                    <div class="tmp"><a href='/logout'>Logout</a></div>
                </div>
            </div>
        </div>
    </body>

    </html>