<%- include ('partial/header') -%>

    <body>
        <div class="row">
            <div class="black"></div>

            <div class="container">
                <h1>WELCOME APP CASHIER</h1>

                <div class="tampung">
                    <div class="tmp"><a href='/items'>Items</a></div>
                </div>
            </div>
        </div>
    </body>

    </html>