<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/items/add" method="POST">
        <input type="number" name="barcode" placeholder="barcode">
        <input type="text" name="name" placeholder="name">
        <input type="number" name="price" placeholder="price">
        <input type="number" name="stock" placeholder="stock">
        <input type="submit" value="ADD">
    </form>
</body>
</html>